@media (prefers-color-scheme: dark) {
    body {
        line-height: 1.6;
        min-height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2rem clamp(1rem, 16vw, 16rem);
        color: white;
        background-color: black;
    }
}

@media (prefers-color-scheme: light) {
    body {
        line-height: 1.6;
        min-height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2rem clamp(1rem, 16vw, 16rem);
        color: black;
        background-color: white;
    }
}